<!--==========================================================
                ACTION BUTTONS
===========================================================-->

<section class="driver-actions">

    <!-- Start Trip -->

    <button
        id="startTripBtn"
        class="action-card start-card">

        <i class="fa-solid fa-play"></i>

        <div>

            <h3>Start Trip</h3>

            <p>Begin today's journey</p>

        </div>

    </button>

    <!-- End Trip -->

    <button
        id="endTripBtn"
        class="action-card end-card">

        <i class="fa-solid fa-stop"></i>

        <div>

            <h3>End Trip</h3>

            <p>Finish current trip</p>

        </div>

    </button>

    <!-- Emergency -->

    <button
        id="emergencyBtn"
        class="action-card emergency-card">

        <i class="fa-solid fa-triangle-exclamation"></i>

        <div>

            <h3>Emergency</h3>

            <p>Send emergency alert</p>

        </div>

    </button>

</section>