<!DOCTYPE html>
<html>
<head>
    <title>Add Bus</title>
    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>College Bus Tracking System</h1>

<nav>
    <a href="/">👨‍🎓 Students</a>
    <a href="/buses">🚌 Buses</a>
    <a href="/add_bus">➕ Add Bus</a>
</nav>

<h2>Add New Bus</h2>

<form method="POST">

    <label>Bus Number:</label><br>
    <input type="text" name="bus_number" required><br><br>

    <label>Driver Name:</label><br>
    <input type="text" name="driver_name" required><br><br>

    <label>Capacity:</label><br>
    <input type="number" name="capacity" required><br><br>

    <button type="submit">Add Bus</button>

</form>

</body>
</html>