<!DOCTYPE html>
<html>
<head>
    <title>Bus List</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>College Bus Tracking System</h1>

    <nav>
        <a href="/">👨‍🎓 Students</a>
        <a href="/buses">🚌 Buses</a>
        <a href="/add_bus">➕ Add Bus</a>
    </nav>

    <h2>🚌 Bus List</h2>

    {% for bus in buses %}

    <div class="bus-card">

        <p><strong>Bus ID:</strong> {{ bus[0] }}</p>
        <p><strong>Bus Number:</strong> {{ bus[1] }}</p>
        <p><strong>Driver Name:</strong> {{ bus[2] }}</p>
        <p><strong>Capacity:</strong> {{ bus[3] }}</p>

    </div>

    {% endfor %}

</body>
</html>